---
import Layout from "../layouts/Layout.astro";
import EntriesViewPage from "../components/views/entries/EntriesViewPage";
import Main from "@/components/Main";
---

<Layout title="Entries - Daily Stoic">
  <Main>
    <EntriesViewPage client:load />
  </Main>
</Layout>
