---
import Layout from "../layouts/Layout.astro";
import EntriesViewPage from "../components/views/entries/EntriesViewPage";
import Main from "@/components/Main";

const { user } = Astro.locals;
---

<Layout title="Entries - Daily Stoic">
  <Main>
    <EntriesViewPage user={user} client:load />
  </Main>
</Layout>
