---
import Layout from "../layouts/Layout.astro";
import EntriesViewPage from "../components/views/entries/EntriesViewPage";
---

<Layout title="Entries - Daily Stoic">
  <main>
    <EntriesViewPage client:only="react" />
  </main>
</Layout>
