---
import Layout from "../layouts/Layout.astro";
import EntriesView from "../components/views/entries/EntriesView";
---

<Layout title="Entries - Daily Stoic">
  <main class="py-8">
    <EntriesView client:only="react" />
  </main>
</Layout>
