---
import Layout from "@/layouts/Layout.astro";
import { AuthCard } from "@/components/views/auth/AuthCard";
import { ForgotPasswordForm } from "@/components/views/auth/ForgotPasswordForm";
import { Container } from "@/components/shared/Container";
import Main from "@/components/Main";
---

<Layout title="Forgot Password - Daily Stoic">
  <Main className="flex items-center flex-1 w-full">
    <Container className="text-center">
      <p class="font-cinzel text-xl">Reset your password.</p>
      <AuthCard>
        <ForgotPasswordForm />
      </AuthCard>
    </Container>
  </Main>
</Layout>
