---
import Layout from "../layouts/Layout.astro";
import IndexPageView from "../components/IndexPageView";
---

<Layout title="Daily Stoic Reflection">
  <main class="py-8">
    <IndexPageView client:load />
  </main>
</Layout>
