---
import Layout from "../layouts/Layout.astro";
import IndexPageView from "../components/views/index/IndexPageView";
---

<Layout title="Daily Stoic Reflection">
  <main>
    <IndexPageView client:load />
  </main>
</Layout>
