---
import Layout from "../layouts/Layout.astro";
import IndexPageView from "../components/views/index/IndexPageView";
import Main from "@/components/Main";
---

<Layout title="Daily Stoic Reflection">
  <Main>
    <IndexPageView client:load />
  </Main>
</Layout>
