---
import Layout from "@/layouts/Layout.astro";
import { AuthCard } from "@/components/views/auth/AuthCard";
import { LoginForm } from "@/components/views/auth/LoginForm";
---

<Layout title="Login - Daily Stoic">
  <main class="container flex items-center flex-1">
    <div class="w-full max-w-lg mx-auto p-4">
      <AuthCard title="Welcome back" description="Enter your email to sign in to your account" client:load>
        <LoginForm client:load />
      </AuthCard>
    </div>
  </main>
</Layout>
