---
import Layout from "@/layouts/Layout.astro";
import { AuthCard } from "@/components/views/auth/AuthCard";
import { RegisterForm } from "@/components/views/auth/RegisterForm";
---

<Layout title="Register - Daily Stoic">
  <main class="container flex items-center flex-1">
    <div class="w-full max-w-lg mx-auto p-4">
      <AuthCard title="Create an account" description="Enter your details to create your account" client:load>
        <RegisterForm client:load />
      </AuthCard>
    </div>
  </main>
</Layout>
