---
import Layout from "@/layouts/Layout.astro";
import { AuthCard } from "@/components/views/auth/AuthCard";
import { RegisterForm } from "@/components/views/auth/RegisterForm";
import { Container } from "@/components/shared/Container";
---

<Layout title="Register - Daily Stoic">
  <main class="flex items-center flex-1 w-full">
    <Container className="flex flex-col gap-4 text-center">
      <p class="font-cinzel text-xl">Start your path of reflection.</p>
      <AuthCard client:load>
        <RegisterForm client:load />
      </AuthCard>
    </Container>
  </main>
</Layout>
