---
import Layout from "@/layouts/Layout.astro";
import { AuthCard } from "@/components/views/auth/AuthCard";
import { ResetPasswordForm } from "@/components/views/auth/ResetPasswordForm";
import { Container } from "@/components/shared/Container";
import Main from "@/components/Main";

const token = Astro.params.token;

if (!token) {
  throw new Error("Reset token is missing");
}
---

<Layout title="Reset Password - Daily Stoic">
  <Main className="flex items-center flex-1 w-full">
    <Container className="text-center">
      <p class="font-cinzel text-xl">Set your new password.</p>
      <AuthCard>
        <ResetPasswordForm />
      </AuthCard>
    </Container>
  </Main>
</Layout>
