---
import Layout from "@/layouts/Layout.astro";
import EntryDetailView from "../../components/entry/EntryDetailView";
const { id } = Astro.params;
if (!id) throw new Error("Entry id is missing");
const entryId = id as string;
---

<Layout title="Entry - Daily Stoic">
  <main class="py-8">
    <EntryDetailView entryId={entryId} client:load />
  </main>
</Layout>
