---
import Layout from "@/layouts/Layout.astro";
import EntryDetailView from "../../components/views/entry/EntryDetailView";

const { id } = Astro.params;

if (!id) throw new Error("Entry id is missing");
---

<Layout title="Entry - Daily Stoic">
  <main class="py-8">
    <EntryDetailView entryId={id} client:load />
  </main>
</Layout>
